// Formatting
$default-font-size: 16px;
$main-font-family: 'Source Sans Pro',sans-serif;
$main-line-height: 1.2;

// Colors
$very-dark-grayish-cyan: #646e6e;
$very-light-gray: #dcdcdc;
$light-grayish-blue: #f0f8fc;
$light-gray: #f0f0f0;
$dark-gray: #3C4646;
$light-label-gray: #b1b6b6;

// Elements
$header-height: 64px;


// Screen sizes
$small-device-screen: 767.98px;